@media (min-width: 992px) {
    .stagetime-width {
        width: 300px;
    }

    .time-width {
        width: 80px;
    }

    .best-time-width {
        width: 100px;
    }

    .stage-times-width {
        width: 120px;
    }
}
