{{ define "head" }}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/css/bootstrap.min.css?{{.staticHash}}" rel="stylesheet">
  <link href="/static/icon/bootstrap-icons.css?{{.staticHash}}" rel="stylesheet">
  <link href="/static/css/main.css?{{.staticHash}}" rel="stylesheet">
  <script src="/static/js/bootstrap.min.js?{{.staticHash}}"></script>
  <title>Rally stats{{if .subtitle}} · {{.subtitle}}{{end}}</title>
</head>
{{ end }}

{{ define "app_name" }}
<span class="fs-2">🚗&nbsp;</span>
<span class="fs-4">Rally stats</span>
{{ end }}

{{ define "app_header" }}
<div class="navbar-brand text-decoration-none align-baseline">
  {{ template "app_name" . }}
</div>
{{ end }}

{{ define "header" }}
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-2">
    <div class="container align-items-baseline">
      {{ template "app_header" . }}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-4" id="navbarNav">
        <ul class="navbar-nav">
          {{range $navItem := .navBarItems }}
          <li class="nav-item">
            <a class="nav-link {{if $navItem.Active}}active{{end}}"
               {{if $navItem.WithLink}}href="{{$navItem.Link}}"{{end}}>{{$navItem.Text}}</a>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </nav>
{{ end }}

{{ define "footer" }}
<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-end">
    <small class="text-muted">{{ .version }}</small>
  </div>
</footer>
{{ end }}
