<!doctype html>
<html lang="{{.lang}}" class="h-100">

{{ template "head" . }}

<body class="h-100">
{{ template "header" . }}

<main>
  <div class="container">
    <table class="table mt-4" style="table-layout: fixed; max-width: 600px;">
      <thead>
        <tr>
          <th style="width: auto">Location / Track / Class</th>
          <th class="stage-times-width">Stage times</th>
          <th class="best-time-width">Best time</th>
        </tr>
      </thead>
    </table>
  </div>
  {{range $locationAndTracks := .tracksByLocation}}
    <div class="container">
      <h2 class="mt-5 mb-2 text-secondary">{{$locationAndTracks.Location.Name}}</h2>

      {{range $trackAndCarClasses := $locationAndTracks.TracksAndCarClasses}}
        <h3 class="mt-4 h4">
          {{$trackAndCarClasses.Track.Name}}
          <div class="badge fs-6 bg-light text-dark">
              {{formatLength $trackAndCarClasses.Track.Length}}&thinsp;km
          </div>
        </h3>
        {{ if $trackAndCarClasses.CarClasses }}
          <table class="table" style="table-layout: fixed; max-width: 600px;">
            <tbody>
              {{range $carClass := $trackAndCarClasses.CarClasses}}
                <tr>
                  <td>{{$carClass.CarClass.Name}}</td>
                  <td class="stage-times-width">{{$carClass.TotalStageTimes}}</td>
                  <td class="best-time-width">{{formatRallyTime $carClass.BestStageTime}}</td>
                </tr>
              {{end}}
            </tbody>
          </table>
        {{ else }}
          <p>&mdash;</p>
        {{ end }}
      {{end}}
    </div>
  {{end}}

</main>

{{ template "footer" . }}
</body>
</html>
